<div class="row-fluid" style="background: white; padding: 5px;">
        <div class="span8">
          <table class="table table-striped">
            <thead>
              <th><%= label_tag :hospital_availability %></th>
              <th><%= label_tag :bed_availability %></th>
            </thead>
            <tbody>
              <% bed_types = BedType.all_with_indicator(@request) %>
              <% @request.hospital_bed_availabilities.each do |availability| %>
                <tr>
                  <td>
                    <label class="checkbox">
                      <%= availability.hospital.name %>
                      <% if @request.hospital_preferences.map {|x| x.hospital_id}.include?(availability.hospital.id) %>
                        <i class="icon-ok"></i>
                      <% end %>
                    </label>
                  </td>
                  <td>
                    <%= availability.bed_type.name %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
         </div>

        <div class="span4">
          <div class="row-fluid">
            <div class="span12">
            </div>
          </div>
          <% if @request.aasm_state == "availability_submitted" && !transfer_center_user %> 
          <div class="row-fluid">
            <div class="span11">
              <br/>
              <%= simple_form_for @request do |x| %> 
                <%= hidden_field_tag :transition, "approve_availability" %>
                <%= x.button :submit, "Save and Submit", class: "btn btn-large btn-block btn-primary" %>
              <% end %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span11">
              <%= simple_form_for @request do |x| %> 
                <%= hidden_field_tag :transition, "decline_availability" %>
                <%= x.button :submit, "Decline", class: "btn btn-large btn-block btn-danger" %>
              <% end %>
            </div>
          </div>
          <% elsif @request.aasm_state == "availability_approved" && transfer_center_user %> 
          <div class="row-fluid">
            <div class="span11">
              <br/>
              <%= simple_form_for @request do |x| %> 
                <%= hidden_field_tag :transition, "confirm_reservation" %>
                <%= x.button :submit, "Confirm", class: "btn btn-large btn-block btn-success" %>
              <% end %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span11">
              <%= simple_form_for @request do |x| %> 
                <%= hidden_field_tag :transition, "decline_reservation" %>
                <%= x.button :submit, "Decline", class: "btn btn-large btn-block btn-danger" %>
              <% end %>
            </div>
          </div>
          <% end %>
        </div>
      </div>

