<%= simple_form_for(@request) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :provider_id %>
    <%= f.input :transfer_center_id %>
    <%= f.input :provider_callback_phone %>
    <%= f.input :patient_name_first %>
    <%= f.input :patient_name_last %>
    <%= f.input :patient_dob %>
    <%= f.input :patient_ssn %>
    <%= f.input :complaint %>
    <%= f.input :physician_flag %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
