<h1>Active Requests</h1>

<table class="table">
  <tr>
    <th>Date created</th>
    <th>Patient name</th>
    <th>Patient dob</th>
    <th>Doctor</th>
    <th>Patient ssn</th>
    <th>Complaint</th>
    <th>Physician flag</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requests.each do |request| %>
  <tr>
    <td><%= request.created_at.strftime("%m/%d/%y") %></td>
    <td><%= request.patient_name_last %>, <%= request.patient_name_first %></td>
    <td><%= request.patient_dob.strftime("%m/%d/%y") %></td>
    <td><%= request.provider.name %></td>
    <td><%= request.patient_ssn %></td>
    <td><%= request.complaint %></td>
    <td><%= request.physician_flag %></td>
    <td><%= link_to 'Show', request %></td>
    <td><%= link_to 'Edit', edit_request_path(request) %></td>
    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Request', new_request_path %>
