<p id="notice"><% notice %></p>

<div class="row">
  <div class="span12">
    <div class="pull-left">
      <h4><%= "#{@request.practice.name}: Request ##{@request.id}" %></h4>
    </div>
      
    <% if @request.aasm_state == "new_request" %> 
      <div class="pull-right">
        <%= render partial: "requests/partials/delete_form", locals: { :request => @request } %>
      </div>
    <% end %>

    <div class="pull-right"> 
    </div>
  </div>
</div>

<div class="row">
  <div class="span8">
    <%= render partial: "requests/partials/show", locals: { :request => @request } %>

    <% if @request.aasm_state == "new_request" %>
      <div class="row-fluid">
        <div class="span4">
          <%= label_tag :complaint %>
          <%= text_area_tag :complaint, @request.complaint, :disabled => true %>
        </div>
      </div>
    <% end %>

    <div class="row-fluid">
      <div class="span12">&nbsp;</div>
    </div>

    <% states = @request.state_histories.map { |sh| sh.state } %>

    <% if current_user.transfer_center_user? %>
      <% if @request.aasm_state == "request_submitted" %>
        <%= render partial: "requests/partials/availability_form_transfer_center", locals: { :request => @request } %>
      <% elsif @request.aasm_state == "availability_submitted" %>
        <div class="row-fluid" style="background: white; padding: 5px;">
          <%= render partial: "requests/partials/availability_show", locals: { :request => @request }  %>
        </div>
      <% elsif @request.aasm_state == "availability_approved" %>
        <div class="row-fluid" style="background: white; padding: 5px;">
          <%= render partial: "requests/partials/availability_show", locals: { :request => @request }  %>
          <%= render partial: "requests/partials/confirm_form", locals: { :request => @request } %>
        </div>
      <% end %>
    <% end %>

    <% if current_user.provider_user? %>
      <% if @request.aasm_state == "availability_submitted" %>
        <div class="row-fluid" style="background: white; padding: 5px;">
          <%= render partial: "requests/partials/availability_show", locals: { :request => @request }  %>
          <%= render partial: "requests/partials/availability_form_provider", locals: { :request => @request }  %>
        </div>
      <% elsif @request.aasm_state == "availability_approved" %>
        <div class="row-fluid" style="background: white; padding: 5px;">
          <%= render partial: "requests/partials/availability_show", locals: { :request => @request }  %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="span4 current_status">
    <% if @request.aasm_state != "new_request" %>
      <div class="row-fluid">
        <div class="span12">
          <%= label_tag :complaint %>
          <%= text_area_tag :complaint, @request.complaint, :disabled => true, class: "complaints_area" %>
        </div>
      </div>
    <% end %>

    <!--div class="row-fluid">
      <div class="span12">
        &nbsp;
      </div>
    </div-->        

      <% if @request.aasm_state == "request_submitted" || @request.aasm_state == "availability_submitted" %>
        <div class="row-fluid pull-down">
      <% else %>
        <div class="row-fluid">
      <% end %>
      <%= render "requests/partials/flow", :locals => {:request => @request} %>
      <% unless @request.state_histories.blank? %>
        <%= hidden_field_tag :histories, @request.state_histories.to_json %>
      <% end %>
    </div>

    <div class="row-fluid">
      <div style="height: 40px;"></div>
        <%= render :partial => "requests/partials/actions", :locals => { :model => @request } %>
      </div>
  </div>
</div>
<br/>
<%= link_to 'Dashboard', requests_path, class: "btn" %>
