         
      <div class="span4">
          <div class="row-fluid">
            <div class="span11">
              <br/>
              <%= simple_form_for request do |x| %> 
                <%= hidden_field_tag :transition, "confirm_reservation" %>
                <%= x.button :submit, "Confirm", class: "btn btn-large btn-block btn-success" %>
              <% end %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span11">
              <%= simple_form_for request do |x| %> 
                <%= hidden_field_tag :transition, "decline_reservation" %>
                <%= x.button :submit, "Decline", class: "btn btn-large btn-block btn-danger" %>
              <% end %>
            </div>
          </div>
      </div>
